Repository yngrdyn/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @tomheller, @lukasholzer, @lara-aigmueller, @ffriedl89, @szymonbultrowicz, @toddbaert, @NinaKammerlander, @moertenschlag, @rowa-audil, @heartdisease, @dlaubi-dt, @areknow

.github/CODEOWNERS:

/* @thomaspink @tomheller @lukasholzer
/** @thomaspink @tomheller @lukasholzer

# Components
/components/* @lukasholzer @thomaspink
/components/alert/** @lara-aigmueller
/components/autocomplete/** @thomaspink
/components/bar-indicator/** @tomheller
/components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/components/button/** @thomaspink
/components/button-group/** @tomheller
/components/card/** @ffriedl89 @lara-aigmueller
/components/chart/** @ffriedl89 @lukasholzer
/components/checkbox/** @thomaspink
/components/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/components/consumption/** @ffriedl89 @thomaspink
/components/container-breakpoint-observer/** @thomaspink
/components/context-dialog/** @ffriedl89 @NinaKammerlander
/components/copy-to-clipboard/** @lara-aigmueller @ffriedl89 @moertenschlag
/components/cta-card/** @thomaspink
/components/drawer/** @lukasholzer @rowa-audil
/components/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/components/event-chart/** @thomaspink @tomheller
/components/expandable-panel/** @lara-aigmueller
/components/expandable-section/** @lara-aigmueller
/components/expandable-text/** @rowa-audil @ffriedl89
/components/filter-field/** @thomaspink @tomheller
/components/form-field/** @thomaspink
/components/formatters/** @ffriedl89 @rowa-audil
/components/highlight/** @lukasholzer @thomaspink
/components/icon/** @thomaspink
/components/info-group/** @ffriedl89 @lara-aigmueller
/components/inline-editor/** @thomaspink
/components/input/** @thomaspink
/components/key-value-list/** @ffriedl89 @moertenschlag
/components/legend/** @thomaspink
/components/loading-distractor/** @thomaspink
/components/menu/** @heartdisease @rowa-audil
/components/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/components/overlay/** @ffriedl89 @thomaspink @tomheller
/components/pagination/** @lukasholzer
/components/progress-bar/** @tomheller
/components/progress-circle/** @ffriedl89 @tomheller
/components/radio/** @thomaspink
/components/schematics/** @lukasholzer
/components/secondary-nav/** @areknow @thomaspink
/components/select/** @thomaspink
/components/selection-area/** @ffriedl89 @lukasholzer
/components/show-more/** @lara-aigmueller
/components/stepper/** @ffriedl89 @thomaspink
/components/switch/** @lara-aigmueller
/components/table/** @ffriedl89 @tomheller @lara-aigmueller
/components/tabs/** @ffriedl89 @thomaspink
/components/tag/** @rowa-audil
/components/tile/** @ffriedl89 @lara-aigmueller
/components/timeline-chart/** @thomaspink
/components/toast/** @ffriedl89 @tomheller
/components/toggle-button-group/** @tomheller
/components/top-bar-navigation/** @lukasholzer
/components/tree-table/** @ffriedl89 @tomheller

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista/* @thomaspink @lukasholzer
/apps/barista/src/** @lara-aigmueller @NinaKammerlander @thomaspink

# Demos app
/apps/demos/* @thomaspink @lukasholzer
/apps/demos/src/** @thomaspink @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer
/apps/components-e2e/src/components/button @thomaspink
/apps/components-e2e/src/components/button-group @tomheller
/apps/components-e2e/src/components/chart @ffriedl89 @lukasholzer
/apps/components-e2e/src/components/checkbox @thomaspink
/apps/components-e2e/src/components/consumption @ffriedl89 @thomaspink
/apps/components-e2e/src/components/context-dialog @ffriedl89 @NinaKammerlander
/apps/components-e2e/src/components/drawer @lukasholzer @rowa-audil
/apps/components-e2e/src/components/event-chart @thomaspink @tomheller
/apps/components-e2e/src/components/expandable-panel @lara-aigmueller
/apps/components-e2e/src/components/expandable-section @lara-aigmueller
/apps/components-e2e/src/components/filter-field @thomaspink @tomheller
/apps/components-e2e/src/components/key-value-list @ffriedl89 @moertenschlag
/apps/components-e2e/src/components/overlay @ffriedl89 @thomaspink @tomheller
/apps/components-e2e/src/components/pagination @lukasholzer
/apps/components-e2e/src/components/progress-bar @tomheller
/apps/components-e2e/src/components/radio @thomaspink
/apps/components-e2e/src/components/show-more @lara-aigmueller
/apps/components-e2e/src/components/switch @lara-aigmueller
/apps/components-e2e/src/components/tabs @ffriedl89 @thomaspink
/apps/components-e2e/src/components/tile @ffriedl89 @lara-aigmueller

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/* @thomaspink @lukasholzer
/apps/dev/src/alert/** @lara-aigmueller
/apps/dev/src/autocomplete/** @thomaspink
/apps/dev/src/bar-indicator/** @tomheller
/apps/dev/src/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/apps/dev/src/button/** @thomaspink
/apps/dev/src/button-group/** @tomheller
/apps/dev/src/card/** @ffriedl89 @lara-aigmueller
/apps/dev/src/chart/** @ffriedl89 @lukasholzer
/apps/dev/src/checkbox/** @thomaspink
/apps/dev/src/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/apps/dev/src/consumption/** @ffriedl89 @thomaspink
/apps/dev/src/container-breakpoint-observer/** @thomaspink
/apps/dev/src/context-dialog/** @ffriedl89 @NinaKammerlander
/apps/dev/src/copy-to-clipboard/** @lara-aigmueller @ffriedl89 @moertenschlag
/apps/dev/src/cta-card/** @thomaspink
/apps/dev/src/drawer/** @lukasholzer @rowa-audil
/apps/dev/src/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/apps/dev/src/event-chart/** @thomaspink @tomheller
/apps/dev/src/expandable-panel/** @lara-aigmueller
/apps/dev/src/expandable-section/** @lara-aigmueller
/apps/dev/src/expandable-text/** @rowa-audil @ffriedl89
/apps/dev/src/filter-field/** @thomaspink @tomheller
/apps/dev/src/form-field/** @thomaspink
/apps/dev/src/formatters/** @ffriedl89 @rowa-audil
/apps/dev/src/highlight/** @lukasholzer @thomaspink
/apps/dev/src/icon/** @thomaspink
/apps/dev/src/info-group/** @ffriedl89 @lara-aigmueller
/apps/dev/src/inline-editor/** @thomaspink
/apps/dev/src/input/** @thomaspink
/apps/dev/src/key-value-list/** @ffriedl89 @moertenschlag
/apps/dev/src/legend/** @thomaspink
/apps/dev/src/loading-distractor/** @thomaspink
/apps/dev/src/menu/** @heartdisease @rowa-audil
/apps/dev/src/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/apps/dev/src/overlay/** @ffriedl89 @thomaspink @tomheller
/apps/dev/src/pagination/** @lukasholzer
/apps/dev/src/progress-bar/** @tomheller
/apps/dev/src/progress-circle/** @ffriedl89 @tomheller
/apps/dev/src/radio/** @thomaspink
/apps/dev/src/secondary-nav/** @areknow @thomaspink
/apps/dev/src/select/** @thomaspink
/apps/dev/src/selection-area/** @ffriedl89 @lukasholzer
/apps/dev/src/show-more/** @lara-aigmueller
/apps/dev/src/stepper/** @ffriedl89 @thomaspink
/apps/dev/src/switch/** @lara-aigmueller
/apps/dev/src/table/** @ffriedl89 @tomheller @lara-aigmueller
/apps/dev/src/tabs/** @ffriedl89 @thomaspink
/apps/dev/src/tag/** @rowa-audil
/apps/dev/src/tile/** @ffriedl89 @lara-aigmueller
/apps/dev/src/timeline-chart/** @thomaspink
/apps/dev/src/toast/** @ffriedl89 @tomheller
/apps/dev/src/toggle-button-group/** @tomheller
/apps/dev/src/top-bar-navigation/** @lukasholzer
/apps/dev/src/tree-table/** @ffriedl89 @tomheller

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/documentation/** @lara-aigmueller

# Libs
/libs/* @lukasholzer @thomaspink
/libs/testing/** @thomaspink

# Examples
/libs/examples/* @thomaspink
/libs/examples/src/* @thomaspink
/libs/examples/src/alert/** @lara-aigmueller
/libs/examples/src/autocomplete/** @thomaspink
/libs/examples/src/bar-indicator/** @tomheller
/libs/examples/src/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/libs/examples/src/button/** @thomaspink
/libs/examples/src/button-group/** @tomheller
/libs/examples/src/card/** @ffriedl89 @lara-aigmueller
/libs/examples/src/chart/** @ffriedl89 @lukasholzer
/libs/examples/src/checkbox/** @thomaspink
/libs/examples/src/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/libs/examples/src/consumption/** @ffriedl89 @thomaspink
/libs/examples/src/container-breakpoint-observer/** @thomaspink
/libs/examples/src/context-dialog/** @ffriedl89 @NinaKammerlander
/libs/examples/src/copy-to-clipboard/** @lara-aigmueller @ffriedl89 @moertenschlag
/libs/examples/src/cta-card/** @thomaspink
/libs/examples/src/drawer/** @lukasholzer @rowa-audil
/libs/examples/src/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/libs/examples/src/event-chart/** @thomaspink @tomheller
/libs/examples/src/expandable-panel/** @lara-aigmueller
/libs/examples/src/expandable-section/** @lara-aigmueller
/libs/examples/src/expandable-text/** @rowa-audil @ffriedl89
/libs/examples/src/filter-field/** @thomaspink @tomheller
/libs/examples/src/form-field/** @thomaspink
/libs/examples/src/formatters/** @ffriedl89 @rowa-audil
/libs/examples/src/highlight/** @lukasholzer @thomaspink
/libs/examples/src/icon/** @thomaspink
/libs/examples/src/info-group/** @ffriedl89 @lara-aigmueller
/libs/examples/src/inline-editor/** @thomaspink
/libs/examples/src/input/** @thomaspink
/libs/examples/src/key-value-list/** @ffriedl89 @moertenschlag
/libs/examples/src/legend/** @thomaspink
/libs/examples/src/loading-distractor/** @thomaspink
/libs/examples/src/menu/** @heartdisease @rowa-audil
/libs/examples/src/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/libs/examples/src/overlay/** @ffriedl89 @thomaspink @tomheller
/libs/examples/src/pagination/** @lukasholzer
/libs/examples/src/progress-bar/** @tomheller
/libs/examples/src/progress-circle/** @ffriedl89 @tomheller
/libs/examples/src/radio/** @thomaspink
/libs/examples/src/secondary-nav/** @areknow @thomaspink
/libs/examples/src/select/** @thomaspink
/libs/examples/src/selection-area/** @ffriedl89 @lukasholzer
/libs/examples/src/show-more/** @lara-aigmueller
/libs/examples/src/stepper/** @ffriedl89 @thomaspink
/libs/examples/src/switch/** @lara-aigmueller
/libs/examples/src/table/** @ffriedl89 @tomheller @lara-aigmueller
/libs/examples/src/tabs/** @ffriedl89 @thomaspink
/libs/examples/src/tag/** @rowa-audil
/libs/examples/src/tile/** @ffriedl89 @lara-aigmueller
/libs/examples/src/timeline-chart/** @thomaspink
/libs/examples/src/toast/** @ffriedl89 @tomheller
/libs/examples/src/toggle-button-group/** @tomheller
/libs/examples/src/top-bar-navigation/** @lukasholzer
/libs/examples/src/tree-table/** @ffriedl89 @tomheller

# Tools
/tools/* @lukasholzer @thomaspink

/tools/barista/* @thomaspink
/tools/barista/src/** @lara-aigmueller @thomaspink

/tools/linting/* @thomaspink @lukasholzer
/tools/linting/src/** @rowa-audil @lara-aigmueller @heartdisease

/tools/release/** @lukasholzer @ffriedl89 @thomaspink

/tools/schematics/** @lukasholzer

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink

/tools/pull-request-labeler/** @tomheller

/tools/cherry-picker/** @tomheller

fix(drawer): Fixes an issue where the drawer backdrop did not overlay breadcrumbs elements.
  components/drawer/src/drawer-container.scss
Owners: @lukasholzer, @rowa-audil

fix(event-chart): Round time labels in x-axis
  components/event-chart/src/event-chart.ts
Owners: @thomaspink, @tomheller

fix(chart): Fixes an issue where timestamp or range reopened after resizing the window.
  apps/components-e2e/src/components/chart/selection-area/selection-area.e2e.ts
  components/chart/src/selection-area/selection-area.ts
Owners: @ffriedl89, @lukasholzer

test(event-chart): Adjusted a path equality test to be less restrictive.
  components/event-chart/src/event-chart.spec.ts
Owners: @thomaspink, @tomheller

chore(expandable-table): Move expandable cell to the left.
  components/table/src/expandable/expandable-cell.scss
  libs/examples/src/table/table-expandable-rows-example/table-expandable-rows-example.html
  libs/examples/src/table/table-responsive-example/table-responsive-example.html
Owners: @ffriedl89, @tomheller, @lara-aigmueller

feat(context-dialog): Added footer and closing button to the context dialog.
  apps/components-e2e/src/components/context-dialog/context-dialog.e2e.ts
  components/context-dialog/README.md
  components/context-dialog/src/context-dialog-module.ts
  components/context-dialog/src/context-dialog.html
  components/context-dialog/src/context-dialog.scss
  components/context-dialog/src/context-dialog.spec.ts
  components/context-dialog/src/context-dialog.ts
  components/context-dialog/src/footer/context-dialog-footer.html
  components/context-dialog/src/footer/context-dialog-footer.scss
  components/context-dialog/src/footer/context-dialog-footer.ts
  components/context-dialog/src/header/context-dialog-header.scss
  libs/examples/src/context-dialog/context-dialog-examples.module.ts
  libs/examples/src/context-dialog/context-dialog-footer-example/context-dialog-footer-example.html
  libs/examples/src/context-dialog/context-dialog-footer-example/context-dialog-footer-example.scss
  libs/examples/src/context-dialog/context-dialog-footer-example/context-dialog-footer-example.ts
Owners: @ffriedl89, @NinaKammerlander

fix(event-chart): Add legend color and pattern for filtered. Also change hover and selection colors
  components/event-chart/src/_event-chart-constants.scss
  components/event-chart/src/event-chart-legend.scss
  components/event-chart/src/event-chart.scss
  libs/examples/src/event-chart/event-chart-legend-example/event-chart-legend-example.html
Owners: @thomaspink, @tomheller

fix(table): Fixes an issue where the sorting did not update when active binding was updated.
  components/table/src/sort/sort.spec.ts
  components/table/src/sort/sort.ts
Owners: @ffriedl89, @tomheller, @lara-aigmueller

barista: Add guidelines to navigation and add descriptions to overview pages.
  apps/barista/src/pages/overview-page/overview-page.html
  apps/barista/src/pages/overview-page/overview-page.scss
  tools/barista/src/generators/category-navigation.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

test(event-chart): Add tests for number format
  components/event-chart/index.ts
  components/event-chart/src/event-chart.spec.ts
  components/event-chart/src/event-chart.ts
Owners: @thomaspink, @tomheller

fix(chart): Fixes an issue with the overlay of the selection area not updating.
  apps/components-e2e/src/components/chart/selection-area/selection-area.e2e.ts
  apps/components-e2e/src/components/chart/selection-area/selection-area.html
  apps/components-e2e/src/components/chart/selection-area/selection-area.po.ts
  apps/components-e2e/src/components/chart/selection-area/selection-area.ts
  apps/dev/src/chart/chart-demo.component.html
  apps/dev/src/chart/chart-demo.component.ts
  components/chart/src/selection-area/selection-area.ts
Owners: @ffriedl89, @lukasholzer

refactor(table): Refactored dependencies between the table and the simple columns.
  components/table/src/simple-columns/simple-column-base.ts
  components/table/src/table.ts
Owners: @ffriedl89, @tomheller, @lara-aigmueller

barista: Fix links to contributors github pages on strapi pages.
  apps/barista/src/layout/contributors/contributors.html
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  tools/barista/src/builder/strapi.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink, @tomheller, @lukasholzer

docs(getting-started): Add manual installation guide again.
  documentation/getting-started.md
Owners: @lara-aigmueller

barista: Added a backend application and search endpoints.
  angular.json
  apps/barista-backend/jest.config.js
  apps/barista-backend/src/app/app.module.ts
  apps/barista-backend/src/environments/environment.prod.ts
  apps/barista-backend/src/environments/environment.ts
  apps/barista-backend/src/main.ts
  apps/barista-backend/src/search/map-content-to-search-result.spec.ts
  apps/barista-backend/src/search/map-content-to-search-result.ts
  apps/barista-backend/src/search/search.controller.ts
  apps/barista-backend/src/search/search.module.ts
  apps/barista-backend/src/search/search.service.ts
  apps/barista-backend/tsconfig.app.json
  apps/barista-backend/tsconfig.json
  apps/barista-backend/tsconfig.spec.json
  apps/barista-backend/tslint.json
  apps/barista/proxy.conf.json
  apps/barista/src/app.module.ts
  apps/barista/src/pages/page-outlet.ts
  apps/barista/src/pages/search-page/search-page.html
  apps/barista/src/pages/search-page/search-page.scss
  apps/barista/src/pages/search-page/search-page.ts
  apps/barista/src/shared/location.service.ts
  apps/barista/src/shared/page.service.ts
  apps/barista/src/shared/search.service.ts
  libs/shared/barista-definitions/src/lib/barista-backend-api-definitions.ts
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  nx.json
  package-lock.json
  package.json
  tools/barista/src/generators/search-index.ts
  tools/barista/src/main.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @lara-aigmueller, @NinaKammerlander

barista: Add missing dependencies to page builder
  tools/barista/Dockerfile
Owners: @thomaspink

test: Adds e2e tests for all components that have an overlay and use the attribute-propagation functionality
  apps/components-e2e/src/app/app.routing.module.ts
  apps/components-e2e/src/components/autocomplete/autocomplete.e2e.ts
  apps/components-e2e/src/components/autocomplete/autocomplete.html
  apps/components-e2e/src/components/autocomplete/autocomplete.module.ts
  apps/components-e2e/src/components/autocomplete/autocomplete.po.ts
  apps/components-e2e/src/components/autocomplete/autocomplete.ts
  apps/components-e2e/src/components/chart/chart.module.ts
  apps/components-e2e/src/components/chart/pie-chart/pie-chart.e2e.ts
  apps/components-e2e/src/components/chart/pie-chart/pie-chart.html
  apps/components-e2e/src/components/confirmation-dialog/confirmation-dialog.e2e.ts
  apps/components-e2e/src/components/confirmation-dialog/confirmation-dialog.html
  apps/components-e2e/src/components/confirmation-dialog/confirmation-dialog.module.ts
  apps/components-e2e/src/components/confirmation-dialog/confirmation-dialog.po.ts
  apps/components-e2e/src/components/consumption/consumption.e2e.ts
  apps/components-e2e/src/components/consumption/consumption.html
  apps/components-e2e/src/components/consumption/consumption.module.ts
  apps/components-e2e/src/components/context-dialog/context-dialog.e2e.ts
  apps/components-e2e/src/components/context-dialog/context-dialog.html
  apps/components-e2e/src/components/context-dialog/context-dialog.module.ts
  apps/components-e2e/src/components/context-dialog/context-dialog.po.ts
  apps/components-e2e/src/components/event-chart/event-chart.e2e.ts
  apps/components-e2e/src/components/event-chart/event-chart.html
  apps/components-e2e/src/components/select/select.e2e.ts
  apps/components-e2e/src/components/select/select.html
  apps/components-e2e/src/components/select/select.module.ts
  apps/components-e2e/src/components/select/select.po.ts
  apps/components-e2e/src/components/select/select.ts
  apps/components-e2e/src/components/tag/tag-add/tag-add.e2e.ts
  apps/components-e2e/src/components/tag/tag-add/tag-add.html
  apps/components-e2e/src/components/tag/tag-add/tag-add.po.ts
  apps/components-e2e/src/components/tag/tag-add/tag-add.ts
  apps/components-e2e/src/components/tag/tag-list/tag-list.e2e.ts
  apps/components-e2e/src/components/tag/tag-list/tag-list.html
  apps/components-e2e/src/components/tag/tag-list/tag-list.ts
  apps/components-e2e/src/components/tag/tag.module.ts
Owners: @lukasholzer, @ffriedl89, @thomaspink, @NinaKammerlander, @tomheller

chore(context-dialog): Rename aria-label input for the close button to pass a11y tests.
  libs/examples/src/context-dialog/context-dialog-footer-example/context-dialog-footer-example.html
Owners: @ffriedl89, @NinaKammerlander

fix(drawer): Fixes an issue where drawer backdrop was overlaying the drawer body.
  apps/components-e2e/src/components/drawer/drawer.e2e.ts
  apps/components-e2e/src/components/drawer/drawer.html
  apps/components-e2e/src/components/drawer/drawer.scss
  apps/components-e2e/src/components/drawer/drawer.ts
  components/drawer/src/drawer-container.scss
  components/drawer/src/drawer.scss
Owners: @lukasholzer, @rowa-audil

chore(radial-chart): Fixed flaky e2e tests.
  apps/components-e2e/src/components/radial-chart/radial-chart.e2e.ts
Owners: @lukasholzer

chore: Update outDirs for the components.
  CHANGELOG.md
  components/radial-chart/jest.config.js
Owners: @thomaspink, @tomheller, @lukasholzer

chore: Bump version to 6.0.0-rc.0 w/ changelog
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer

chore(release): Fixes a wrong import in our stage relase script.
  tools/release/src/stage-release/stage-release.ts
Owners: @lukasholzer, @ffriedl89, @thomaspink

chore(radial-chart): Fixes a regression in the jest config that was introduced with 5.3.0
  components/radial-chart/jest.config.js
Owners: @thomaspink, @tomheller, @lukasholzer

chore: Bump version to 6.0.0-rc.1 w/ changelog
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer

chore(tslint): Fixed a regression where the lintrules where missing in the bundle.
  tools/linting/tsconfig.json
  tools/linting/tslint.json
Owners: @thomaspink, @lukasholzer
