Repository yngrdyn/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @NinaKammerlander, @szymonbultrowicz, @toddbaert, @moertenschlag, @rowa-audil, @heartdisease, @dlaubi-dt, @areknow

feat(chart): Added support for observable as input for options
  libs/barista-components/chart/README.md
  libs/barista-components/chart/src/chart.spec.ts
  libs/barista-components/chart/src/chart.ts
Owners: @ffriedl89, @lukasholzer

chore: Added concepts for design tokens and web components.
  concepts/design-tokens/README.md
  concepts/web-components/README.md
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

build: Fixes an issue that occured due to rebasing.
  angular.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

refactor(filter-field): Refactored the tests to contain less repitition.
  libs/barista-components/filter-field/src/filter-field.spec.ts
Owners: @thomaspink, @tomheller

chore: Bump version to 6.3.0 w/ changelog
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

barista(href-link-transformer): Additional transformer logic converts href links to routerlinks to remove reloading when navigating inside barista.
  apps/barista-design-system/src/components/components.module.ts
  apps/barista-design-system/src/components/content-link/content-link.ts
  apps/barista-design-system/src/pages/single-page/page-content.ts
  apps/barista-design-system/src/shared/services/toc.service.ts
  apps/barista-design-system/src/utils/create-component.ts
  libs/tools/barista/src/builder/components.ts
  libs/tools/barista/src/builder/icons.ts
  libs/tools/barista/src/builder/strapi.ts
  libs/tools/barista/src/transform.spec.ts
  libs/tools/barista/src/transform.ts
Owners: @NinaKammerlander, @thomaspink, @rowa-audil, @lukasholzer, @ffriedl89

ci: Fix broken barista builder due to update of angular ngcc.
  .deployment/k8s-barista-builder/Dockerfile
  .deployment/k8s-barista-builder/Jenkinsfile
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

build: Cleanup old missing tsconfig paths.
  tsconfig.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

barista(icon-color-wheel): Fixes setting innerHTML on a svg > symbol element by not rendering the element outside a browser context
  apps/barista-design-system/src/components/icon-color-wheel/icon-color-wheel.html
  apps/barista-design-system/src/components/icon-color-wheel/icon-color-wheel.ts
Owners: @NinaKammerlander, @thomaspink, @rowa-audil

docs(table): Improved observable and responsive examples
  libs/examples/src/table/table-observable-example/table-observable-example.html
  libs/examples/src/table/table-observable-example/table-observable-example.ts
  libs/examples/src/table/table-responsive-example/table-responsive-example.html
  libs/examples/src/table/table-responsive-example/table-responsive-example.ts
Owners: @ffriedl89, @tomheller

chore: Add barrel file generation to design tokens build
  libs/shared/design-tokens/generated/global/palette.scss
  libs/shared/design-tokens/generated/global/spacing.scss
  libs/shared/design-tokens/generated/index.ts
  libs/shared/design-tokens/generated/patterns/button.scss
  libs/workspace/src/builders/design-tokens/build/build.ts
  libs/workspace/src/builders/design-tokens/build/token-converters/ts-barrel-file-template.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

docs: Updates repo structure documentation in guide for developers.
  DEVELOPMENT.md
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(slider): Prevent default behavior of keyboard events associated with the slider.
  libs/barista-components/slider/src/slider.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

chore: Cleanup and remove old gulpfile.
  gulpfile.js
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

build: Cleanup old unused configs to avoid confusions.
  .deployment/barista/Jenkinsfile
  angular.json
  environments/barista-environment.ci.ts
  environments/barista-environment.prod.ts
  environments/barista-environment.ts
  tsconfig.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

build: Fixes a problem where the barista build was flaky.
  .github/workflows/barista-preview.yml
  angular.json
  apps/barista-design-system/src/app/app.ts
  apps/barista-design-system/src/server.ts
  apps/barista-design-system/src/shared/services/page.service.ts
  libs/workspace/src/builders/barista-build/builder.spec.ts
  libs/workspace/src/builders/barista-build/builder.ts
  libs/workspace/src/builders/barista-build/fixtures/mock-server.js
  libs/workspace/src/builders/barista-build/prerender/render-routes.ts
  libs/workspace/src/builders/barista-build/renderer.ts
  libs/workspace/src/builders/barista-build/schema.json
  libs/workspace/src/builders/barista-build/utils/get-routes.ts
  libs/workspace/src/builders/barista-build/utils/index.ts
  libs/workspace/src/builders/barista-build/utils/render-routes.ts
  libs/workspace/src/builders/barista-build/utils/schedule-builds.ts
  libs/workspace/src/builders/barista-build/utils/start-server.spec.ts
  libs/workspace/src/builders/barista-build/utils/start-server.ts
  libs/workspace/webpack.config.js
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @NinaKammerlander, @rowa-audil

barista(live-examples): Fixes an issue with the stepper examples.
  apps/barista-design-system/src/components/components.module.ts
  libs/examples/src/stepper/stepper-examples.module.ts
Owners: @NinaKammerlander, @thomaspink, @rowa-audil, @ffriedl89

chore(changelog): Change the order of changelog. Fix stream merging issue. Fix regex to match new format of changelog.
  libs/tools/release/src/changelog/__snapshots__/changelog.spec.ts.snap
  libs/tools/release/src/changelog/changelog.ts
  libs/tools/release/src/extract-release-notes.ts
  libs/tools/release/src/testing/fixtures/CHANGELOG-minimal.md
  libs/tools/release/src/testing/fixtures/CHANGELOG-release.md
  libs/tools/release/src/testing/fixtures/CHANGELOG.md
  libs/tools/release/src/utils/concatenate-node-streams.spec.ts
  libs/tools/release/src/utils/concatenate-node-streams.ts
  libs/tools/release/src/utils/merge-node-streams.ts
Owners: @lukasholzer, @ffriedl89, @thomaspink

barista: Fixes the limit for strapi list queries.
  libs/tools/barista/src/utils/fetch-strapi-content.ts
Owners: @lukasholzer, @ffriedl89, @thomaspink

ci: Add public deployment of barista on Jenkins.
  .deployment/barista/Jenkinsfile
  .deployment/k8s-barista-builder/Dockerfile
  .github/workflows/barista-preview.yml
  .gitignore
  environments/barista-environment.ci.ts
  now.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

ci: Add tests for workspace scripts.
  libs/workspace/src/scripts/affected-args.spec.ts
  libs/workspace/src/scripts/affected-args.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

feat(drawer-table): Added experimental drawer-table component.
  angular.json
  apps/dev/src/app.module.ts
  apps/dev/src/devapp-routing.module.ts
  apps/dev/src/devapp.component.ts
  apps/dev/src/drawer-table/drawer-table-demo.component.html
  apps/dev/src/drawer-table/drawer-table-demo.component.ts
  apps/dev/src/dt-components.module.ts
  libs/barista-components/experimental/drawer-table/README.md
  libs/barista-components/experimental/drawer-table/barista.json
  libs/barista-components/experimental/drawer-table/index.ts
  libs/barista-components/experimental/drawer-table/jest.config.js
  libs/barista-components/experimental/drawer-table/package.json
  libs/barista-components/experimental/drawer-table/src/drawer-table-module.ts
  libs/barista-components/experimental/drawer-table/src/drawer-table.html
  libs/barista-components/experimental/drawer-table/src/drawer-table.scss
  libs/barista-components/experimental/drawer-table/src/drawer-table.spec.ts
  libs/barista-components/experimental/drawer-table/src/drawer-table.ts
  libs/barista-components/experimental/drawer-table/src/test-setup.ts
  libs/barista-components/experimental/drawer-table/tsconfig.json
  libs/barista-components/experimental/drawer-table/tsconfig.lib.json
  libs/barista-components/experimental/drawer-table/tsconfig.spec.json
  libs/barista-components/experimental/drawer-table/tslint.json
  libs/examples/src/drawer-table/drawer-table-default-example/drawer-table-default-example.html
  libs/examples/src/drawer-table/drawer-table-default-example/drawer-table-default-example.ts
  libs/examples/src/drawer-table/drawer-table-examples.module.ts
  libs/examples/src/drawer-table/index.ts
  libs/examples/src/examples.module.ts
  libs/examples/src/index.ts
  nx.json
  tsconfig.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

.github/CODEOWNERS:

/* @thomaspink @tomheller @lukasholzer @ffriedl89
/** @thomaspink @tomheller @lukasholzer @ffriedl89

# Components
/libs/barista-components/* @lukasholzer @thomaspink
/libs/barista-components/alert/** @NinaKammerlander
/libs/barista-components/autocomplete/** @thomaspink
/libs/barista-components/bar-indicator/** @tomheller
/libs/barista-components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/libs/barista-components/button/** @thomaspink
/libs/barista-components/button-group/** @tomheller
/libs/barista-components/card/** @ffriedl89 @NinaKammerlander
/libs/barista-components/chart/** @ffriedl89 @lukasholzer
/libs/barista-components/checkbox/** @thomaspink
/libs/barista-components/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/libs/barista-components/consumption/** @ffriedl89 @thomaspink
/libs/barista-components/container-breakpoint-observer/** @thomaspink
/libs/barista-components/context-dialog/** @ffriedl89 @NinaKammerlander
/libs/barista-components/copy-to-clipboard/** @ffriedl89 @moertenschlag
/libs/barista-components/cta-card/** @thomaspink
/libs/barista-components/drawer/** @lukasholzer @rowa-audil
/libs/barista-components/empty-state/** @lukasholzer @heartdisease
/libs/barista-components/event-chart/** @thomaspink @tomheller
/libs/barista-components/expandable-panel/** @rowa-audil
/libs/barista-components/expandable-section/** @rowa-audil
/libs/barista-components/expandable-text/** @rowa-audil @ffriedl89
/libs/barista-components/filter-field/** @thomaspink @tomheller
/libs/barista-components/form-field/** @thomaspink
/libs/barista-components/formatters/** @ffriedl89 @rowa-audil
/libs/barista-components/highlight/** @lukasholzer @thomaspink
/libs/barista-components/icon/** @thomaspink
/libs/barista-components/info-group/** @ffriedl89 @NinaKammerlander
/libs/barista-components/inline-editor/** @thomaspink
/libs/barista-components/input/** @thomaspink
/libs/barista-components/key-value-list/** @ffriedl89 @moertenschlag
/libs/barista-components/legend/** @thomaspink
/libs/barista-components/loading-distractor/** @thomaspink
/libs/barista-components/menu/** @heartdisease @rowa-audil
/libs/barista-components/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/libs/barista-components/overlay/** @ffriedl89 @thomaspink @tomheller
/libs/barista-components/pagination/** @lukasholzer
/libs/barista-components/progress-bar/** @tomheller
/libs/barista-components/progress-circle/** @ffriedl89 @tomheller
/libs/barista-components/radial-chart/** @tomheller
/libs/barista-components/radio/** @thomaspink
/libs/barista-components/schematics/** @lukasholzer
/libs/barista-components/secondary-nav/** @areknow @thomaspink
/libs/barista-components/select/** @thomaspink
/libs/barista-components/selection-area/** @ffriedl89 @lukasholzer
/libs/barista-components/show-more/** @rowa-audil
/libs/barista-components/stepper/** @ffriedl89 @thomaspink
/libs/barista-components/switch/** @thomaspink
/libs/barista-components/table/** @ffriedl89 @tomheller
/libs/barista-components/tabs/** @ffriedl89 @thomaspink
/libs/barista-components/tag/** @rowa-audil
/libs/barista-components/tile/** @ffriedl89 @NinaKammerlander
/libs/barista-components/timeline-chart/** @thomaspink
/libs/barista-components/toast/** @ffriedl89 @tomheller
/libs/barista-components/toggle-button-group/** @tomheller
/libs/barista-components/top-bar-navigation/** @lukasholzer
/libs/barista-components/tree-table/** @ffriedl89 @tomheller

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista-design-system/* @thomaspink @lukasholzer
/apps/barista-design-system/src/** @NinaKammerlander @thomaspink @rowa-audil

# Demos app
/apps/demos/* @thomaspink @lukasholzer
/apps/demos/src/** @thomaspink @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer
/apps/components-e2e/src/components/button @thomaspink
/apps/components-e2e/src/components/button-group @tomheller
/apps/components-e2e/src/components/chart @ffriedl89 @lukasholzer
/apps/components-e2e/src/components/checkbox @thomaspink
/apps/components-e2e/src/components/consumption @ffriedl89 @thomaspink
/apps/components-e2e/src/components/context-dialog @ffriedl89 @NinaKammerlander
/apps/components-e2e/src/components/drawer @lukasholzer @rowa-audil
/apps/components-e2e/src/components/event-chart @thomaspink @tomheller
/apps/components-e2e/src/components/expandable-panel @rowa-audil
/apps/components-e2e/src/components/expandable-section @rowa-audil
/apps/components-e2e/src/components/filter-field @thomaspink @tomheller
/apps/components-e2e/src/components/key-value-list @ffriedl89 @moertenschlag
/apps/components-e2e/src/components/overlay @ffriedl89 @thomaspink @tomheller
/apps/components-e2e/src/components/pagination @lukasholzer
/apps/components-e2e/src/components/progress-bar @tomheller
/apps/components-e2e/src/components/radial-chart @tomheller
/apps/components-e2e/src/components/radio @thomaspink
/apps/components-e2e/src/components/show-more @rowa-audil
/apps/components-e2e/src/components/switch @thomaspink
/apps/components-e2e/src/components/tabs @ffriedl89 @thomaspink
/apps/components-e2e/src/components/tile @ffriedl89 @NinaKammerlander

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/* @thomaspink @lukasholzer
/apps/dev/src/alert/** @NinaKammerlander
/apps/dev/src/autocomplete/** @thomaspink
/apps/dev/src/bar-indicator/** @tomheller
/apps/dev/src/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/apps/dev/src/button/** @thomaspink
/apps/dev/src/button-group/** @tomheller
/apps/dev/src/card/** @ffriedl89 @NinaKammerlander
/apps/dev/src/chart/** @ffriedl89 @lukasholzer
/apps/dev/src/checkbox/** @thomaspink
/apps/dev/src/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/apps/dev/src/consumption/** @ffriedl89 @thomaspink
/apps/dev/src/container-breakpoint-observer/** @thomaspink
/apps/dev/src/context-dialog/** @ffriedl89 @NinaKammerlander
/apps/dev/src/copy-to-clipboard/** @ffriedl89 @moertenschlag
/apps/dev/src/cta-card/** @thomaspink
/apps/dev/src/drawer/** @lukasholzer @rowa-audil
/apps/dev/src/empty-state/** @lukasholzer @heartdisease
/apps/dev/src/event-chart/** @thomaspink @tomheller
/apps/dev/src/expandable-panel/** @rowa-audil
/apps/dev/src/expandable-section/** @rowa-audil
/apps/dev/src/expandable-text/** @rowa-audil @ffriedl89
/apps/dev/src/filter-field/** @thomaspink @tomheller
/apps/dev/src/form-field/** @thomaspink
/apps/dev/src/formatters/** @ffriedl89 @rowa-audil
/apps/dev/src/highlight/** @lukasholzer @thomaspink
/apps/dev/src/icon/** @thomaspink
/apps/dev/src/info-group/** @ffriedl89 @NinaKammerlander
/apps/dev/src/inline-editor/** @thomaspink
/apps/dev/src/input/** @thomaspink
/apps/dev/src/key-value-list/** @ffriedl89 @moertenschlag
/apps/dev/src/legend/** @thomaspink
/apps/dev/src/loading-distractor/** @thomaspink
/apps/dev/src/menu/** @heartdisease @rowa-audil
/apps/dev/src/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/apps/dev/src/overlay/** @ffriedl89 @thomaspink @tomheller
/apps/dev/src/pagination/** @lukasholzer
/apps/dev/src/progress-bar/** @tomheller
/apps/dev/src/progress-circle/** @ffriedl89 @tomheller
/apps/dev/src/radial-chart/** @tomheller
/apps/dev/src/radio/** @thomaspink
/apps/dev/src/secondary-nav/** @areknow @thomaspink
/apps/dev/src/select/** @thomaspink
/apps/dev/src/selection-area/** @ffriedl89 @lukasholzer
/apps/dev/src/show-more/** @rowa-audil
/apps/dev/src/stepper/** @ffriedl89 @thomaspink
/apps/dev/src/switch/** @thomaspink
/apps/dev/src/table/** @ffriedl89 @tomheller
/apps/dev/src/tabs/** @ffriedl89 @thomaspink
/apps/dev/src/tag/** @rowa-audil
/apps/dev/src/tile/** @ffriedl89 @NinaKammerlander
/apps/dev/src/timeline-chart/** @thomaspink
/apps/dev/src/toast/** @ffriedl89 @tomheller
/apps/dev/src/toggle-button-group/** @tomheller
/apps/dev/src/top-bar-navigation/** @lukasholzer
/apps/dev/src/tree-table/** @ffriedl89 @tomheller

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/documentation/** @tomheller

# Libs
/libs/* @lukasholzer @thomaspink @tomheller
/libs/testing/** @thomaspink

# Examples
/libs/examples/* @thomaspink
/libs/examples/src/* @thomaspink
/libs/examples/src/alert/** @NinaKammerlander
/libs/examples/src/autocomplete/** @thomaspink
/libs/examples/src/bar-indicator/** @tomheller
/libs/examples/src/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/libs/examples/src/button/** @thomaspink
/libs/examples/src/button-group/** @tomheller
/libs/examples/src/card/** @ffriedl89 @NinaKammerlander
/libs/examples/src/chart/** @ffriedl89 @lukasholzer
/libs/examples/src/checkbox/** @thomaspink
/libs/examples/src/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/libs/examples/src/consumption/** @ffriedl89 @thomaspink
/libs/examples/src/container-breakpoint-observer/** @thomaspink
/libs/examples/src/context-dialog/** @ffriedl89 @NinaKammerlander
/libs/examples/src/copy-to-clipboard/** @ffriedl89 @moertenschlag
/libs/examples/src/cta-card/** @thomaspink
/libs/examples/src/drawer/** @lukasholzer @rowa-audil
/libs/examples/src/empty-state/** @lukasholzer @heartdisease
/libs/examples/src/event-chart/** @thomaspink @tomheller
/libs/examples/src/expandable-panel/** @rowa-audil
/libs/examples/src/expandable-section/** @rowa-audil
/libs/examples/src/expandable-text/** @rowa-audil @ffriedl89
/libs/examples/src/filter-field/** @thomaspink @tomheller
/libs/examples/src/form-field/** @thomaspink
/libs/examples/src/formatters/** @ffriedl89 @rowa-audil
/libs/examples/src/highlight/** @lukasholzer @thomaspink
/libs/examples/src/icon/** @thomaspink
/libs/examples/src/info-group/** @ffriedl89 @NinaKammerlander
/libs/examples/src/inline-editor/** @thomaspink
/libs/examples/src/input/** @thomaspink
/libs/examples/src/key-value-list/** @ffriedl89 @moertenschlag
/libs/examples/src/legend/** @thomaspink
/libs/examples/src/loading-distractor/** @thomaspink
/libs/examples/src/menu/** @heartdisease @rowa-audil
/libs/examples/src/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/libs/examples/src/overlay/** @ffriedl89 @thomaspink @tomheller
/libs/examples/src/pagination/** @lukasholzer
/libs/examples/src/progress-bar/** @tomheller
/libs/examples/src/progress-circle/** @ffriedl89 @tomheller
/libs/examples/src/radial-chart/** @tomheller
/libs/examples/src/radio/** @thomaspink
/libs/examples/src/secondary-nav/** @areknow @thomaspink
/libs/examples/src/select/** @thomaspink
/libs/examples/src/selection-area/** @ffriedl89 @lukasholzer
/libs/examples/src/show-more/** @rowa-audil
/libs/examples/src/stepper/** @ffriedl89 @thomaspink
/libs/examples/src/switch/** @thomaspink
/libs/examples/src/table/** @ffriedl89 @tomheller
/libs/examples/src/tabs/** @ffriedl89 @thomaspink
/libs/examples/src/tag/** @rowa-audil
/libs/examples/src/tile/** @ffriedl89 @NinaKammerlander
/libs/examples/src/timeline-chart/** @thomaspink
/libs/examples/src/toast/** @ffriedl89 @tomheller
/libs/examples/src/toggle-button-group/** @tomheller
/libs/examples/src/top-bar-navigation/** @lukasholzer
/libs/examples/src/tree-table/** @ffriedl89 @tomheller

# Tools
/tools/* @lukasholzer @thomaspink

/libs/tools/barista/* @thomaspink
/libs/tools/barista/src/** @NinaKammerlander @rowa-audil @thomaspink

/libs/tools/linting/* @thomaspink @lukasholzer
/libs/tools/linting/src/** @rowa-audil @heartdisease

/libs/tools/** @lukasholzer @ffriedl89 @thomaspink

/tools/schematics/** @lukasholzer

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink

/tools/pull-request-labeler/** @tomheller

/tools/cherry-picker/** @tomheller
