Repository yngrdyn/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @NinaKammerlander, @szymonbultrowicz, @toddbaert, @moertenschlag, @rowa-audil, @heartdisease, @dlaubi-dt, @areknow

.github/CODEOWNERS:

/* @thomaspink @tomheller @lukasholzer @ffriedl89
/** @thomaspink @tomheller @lukasholzer @ffriedl89

# Components
/libs/barista-components/* @lukasholzer @thomaspink
/libs/barista-components/alert/** @NinaKammerlander
/libs/barista-components/autocomplete/** @thomaspink
/libs/barista-components/bar-indicator/** @tomheller
/libs/barista-components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/libs/barista-components/button/** @thomaspink
/libs/barista-components/button-group/** @tomheller
/libs/barista-components/card/** @ffriedl89 @NinaKammerlander
/libs/barista-components/chart/** @ffriedl89 @lukasholzer
/libs/barista-components/checkbox/** @thomaspink
/libs/barista-components/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/libs/barista-components/consumption/** @ffriedl89 @thomaspink
/libs/barista-components/container-breakpoint-observer/** @thomaspink
/libs/barista-components/context-dialog/** @ffriedl89 @NinaKammerlander
/libs/barista-components/copy-to-clipboard/** @ffriedl89 @moertenschlag
/libs/barista-components/cta-card/** @thomaspink
/libs/barista-components/drawer/** @lukasholzer @rowa-audil
/libs/barista-components/empty-state/** @lukasholzer @heartdisease
/libs/barista-components/event-chart/** @thomaspink @tomheller
/libs/barista-components/expandable-panel/** @rowa-audil
/libs/barista-components/expandable-section/** @rowa-audil
/libs/barista-components/expandable-text/** @rowa-audil @ffriedl89
/libs/barista-components/filter-field/** @thomaspink @tomheller
/libs/barista-components/form-field/** @thomaspink
/libs/barista-components/formatters/** @ffriedl89 @rowa-audil
/libs/barista-components/highlight/** @lukasholzer @thomaspink
/libs/barista-components/icon/** @thomaspink
/libs/barista-components/info-group/** @ffriedl89 @NinaKammerlander
/libs/barista-components/inline-editor/** @thomaspink
/libs/barista-components/input/** @thomaspink
/libs/barista-components/key-value-list/** @ffriedl89 @moertenschlag
/libs/barista-components/legend/** @thomaspink
/libs/barista-components/loading-distractor/** @thomaspink
/libs/barista-components/menu/** @heartdisease @rowa-audil
/libs/barista-components/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/libs/barista-components/overlay/** @ffriedl89 @thomaspink @tomheller
/libs/barista-components/pagination/** @lukasholzer
/libs/barista-components/progress-bar/** @tomheller
/libs/barista-components/progress-circle/** @ffriedl89 @tomheller
/libs/barista-components/radial-chart/** @tomheller
/libs/barista-components/radio/** @thomaspink
/libs/barista-components/schematics/** @lukasholzer
/libs/barista-components/secondary-nav/** @areknow @thomaspink
/libs/barista-components/select/** @thomaspink
/libs/barista-components/selection-area/** @ffriedl89 @lukasholzer
/libs/barista-components/show-more/** @rowa-audil
/libs/barista-components/stepper/** @ffriedl89 @thomaspink
/libs/barista-components/switch/** @thomaspink
/libs/barista-components/table/** @ffriedl89 @tomheller
/libs/barista-components/tabs/** @ffriedl89 @thomaspink
/libs/barista-components/tag/** @rowa-audil
/libs/barista-components/tile/** @ffriedl89 @NinaKammerlander
/libs/barista-components/timeline-chart/** @thomaspink
/libs/barista-components/toast/** @ffriedl89 @tomheller
/libs/barista-components/toggle-button-group/** @tomheller
/libs/barista-components/top-bar-navigation/** @lukasholzer
/libs/barista-components/tree-table/** @ffriedl89 @tomheller

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista-design-system/* @thomaspink @lukasholzer
/apps/barista-design-system/src/** @NinaKammerlander @thomaspink @rowa-audil

# Demos app
/apps/demos/* @thomaspink @lukasholzer
/apps/demos/src/** @thomaspink @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer
/apps/components-e2e/src/components/button @thomaspink
/apps/components-e2e/src/components/button-group @tomheller
/apps/components-e2e/src/components/chart @ffriedl89 @lukasholzer
/apps/components-e2e/src/components/checkbox @thomaspink
/apps/components-e2e/src/components/consumption @ffriedl89 @thomaspink
/apps/components-e2e/src/components/context-dialog @ffriedl89 @NinaKammerlander
/apps/components-e2e/src/components/drawer @lukasholzer @rowa-audil
/apps/components-e2e/src/components/event-chart @thomaspink @tomheller
/apps/components-e2e/src/components/expandable-panel @rowa-audil
/apps/components-e2e/src/components/expandable-section @rowa-audil
/apps/components-e2e/src/components/filter-field @thomaspink @tomheller
/apps/components-e2e/src/components/key-value-list @ffriedl89 @moertenschlag
/apps/components-e2e/src/components/overlay @ffriedl89 @thomaspink @tomheller
/apps/components-e2e/src/components/pagination @lukasholzer
/apps/components-e2e/src/components/progress-bar @tomheller
/apps/components-e2e/src/components/radial-chart @tomheller
/apps/components-e2e/src/components/radio @thomaspink
/apps/components-e2e/src/components/show-more @rowa-audil
/apps/components-e2e/src/components/switch @thomaspink
/apps/components-e2e/src/components/tabs @ffriedl89 @thomaspink
/apps/components-e2e/src/components/tile @ffriedl89 @NinaKammerlander

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/* @thomaspink @lukasholzer
/apps/dev/src/alert/** @NinaKammerlander
/apps/dev/src/autocomplete/** @thomaspink
/apps/dev/src/bar-indicator/** @tomheller
/apps/dev/src/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/apps/dev/src/button/** @thomaspink
/apps/dev/src/button-group/** @tomheller
/apps/dev/src/card/** @ffriedl89 @NinaKammerlander
/apps/dev/src/chart/** @ffriedl89 @lukasholzer
/apps/dev/src/checkbox/** @thomaspink
/apps/dev/src/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/apps/dev/src/consumption/** @ffriedl89 @thomaspink
/apps/dev/src/container-breakpoint-observer/** @thomaspink
/apps/dev/src/context-dialog/** @ffriedl89 @NinaKammerlander
/apps/dev/src/copy-to-clipboard/** @ffriedl89 @moertenschlag
/apps/dev/src/cta-card/** @thomaspink
/apps/dev/src/drawer/** @lukasholzer @rowa-audil
/apps/dev/src/empty-state/** @lukasholzer @heartdisease
/apps/dev/src/event-chart/** @thomaspink @tomheller
/apps/dev/src/expandable-panel/** @rowa-audil
/apps/dev/src/expandable-section/** @rowa-audil
/apps/dev/src/expandable-text/** @rowa-audil @ffriedl89
/apps/dev/src/filter-field/** @thomaspink @tomheller
/apps/dev/src/form-field/** @thomaspink
/apps/dev/src/formatters/** @ffriedl89 @rowa-audil
/apps/dev/src/highlight/** @lukasholzer @thomaspink
/apps/dev/src/icon/** @thomaspink
/apps/dev/src/info-group/** @ffriedl89 @NinaKammerlander
/apps/dev/src/inline-editor/** @thomaspink
/apps/dev/src/input/** @thomaspink
/apps/dev/src/key-value-list/** @ffriedl89 @moertenschlag
/apps/dev/src/legend/** @thomaspink
/apps/dev/src/loading-distractor/** @thomaspink
/apps/dev/src/menu/** @heartdisease @rowa-audil
/apps/dev/src/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/apps/dev/src/overlay/** @ffriedl89 @thomaspink @tomheller
/apps/dev/src/pagination/** @lukasholzer
/apps/dev/src/progress-bar/** @tomheller
/apps/dev/src/progress-circle/** @ffriedl89 @tomheller
/apps/dev/src/radial-chart/** @tomheller
/apps/dev/src/radio/** @thomaspink
/apps/dev/src/secondary-nav/** @areknow @thomaspink
/apps/dev/src/select/** @thomaspink
/apps/dev/src/selection-area/** @ffriedl89 @lukasholzer
/apps/dev/src/show-more/** @rowa-audil
/apps/dev/src/stepper/** @ffriedl89 @thomaspink
/apps/dev/src/switch/** @thomaspink
/apps/dev/src/table/** @ffriedl89 @tomheller
/apps/dev/src/tabs/** @ffriedl89 @thomaspink
/apps/dev/src/tag/** @rowa-audil
/apps/dev/src/tile/** @ffriedl89 @NinaKammerlander
/apps/dev/src/timeline-chart/** @thomaspink
/apps/dev/src/toast/** @ffriedl89 @tomheller
/apps/dev/src/toggle-button-group/** @tomheller
/apps/dev/src/top-bar-navigation/** @lukasholzer
/apps/dev/src/tree-table/** @ffriedl89 @tomheller

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/documentation/** @tomheller

# Libs
/libs/* @lukasholzer @thomaspink @tomheller
/libs/testing/** @thomaspink

# Examples
/libs/examples/* @thomaspink
/libs/examples/src/* @thomaspink
/libs/examples/src/alert/** @NinaKammerlander
/libs/examples/src/autocomplete/** @thomaspink
/libs/examples/src/bar-indicator/** @tomheller
/libs/examples/src/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/libs/examples/src/button/** @thomaspink
/libs/examples/src/button-group/** @tomheller
/libs/examples/src/card/** @ffriedl89 @NinaKammerlander
/libs/examples/src/chart/** @ffriedl89 @lukasholzer
/libs/examples/src/checkbox/** @thomaspink
/libs/examples/src/confirmation-dialog/** @toddbaert @ffriedl89 @thomaspink
/libs/examples/src/consumption/** @ffriedl89 @thomaspink
/libs/examples/src/container-breakpoint-observer/** @thomaspink
/libs/examples/src/context-dialog/** @ffriedl89 @NinaKammerlander
/libs/examples/src/copy-to-clipboard/** @ffriedl89 @moertenschlag
/libs/examples/src/cta-card/** @thomaspink
/libs/examples/src/drawer/** @lukasholzer @rowa-audil
/libs/examples/src/empty-state/** @lukasholzer @heartdisease
/libs/examples/src/event-chart/** @thomaspink @tomheller
/libs/examples/src/expandable-panel/** @rowa-audil
/libs/examples/src/expandable-section/** @rowa-audil
/libs/examples/src/expandable-text/** @rowa-audil @ffriedl89
/libs/examples/src/filter-field/** @thomaspink @tomheller
/libs/examples/src/form-field/** @thomaspink
/libs/examples/src/formatters/** @ffriedl89 @rowa-audil
/libs/examples/src/highlight/** @lukasholzer @thomaspink
/libs/examples/src/icon/** @thomaspink
/libs/examples/src/info-group/** @ffriedl89 @NinaKammerlander
/libs/examples/src/inline-editor/** @thomaspink
/libs/examples/src/input/** @thomaspink
/libs/examples/src/key-value-list/** @ffriedl89 @moertenschlag
/libs/examples/src/legend/** @thomaspink
/libs/examples/src/loading-distractor/** @thomaspink
/libs/examples/src/menu/** @heartdisease @rowa-audil
/libs/examples/src/micro-chart/** @ffriedl89 @dlaubi-dt @tomheller
/libs/examples/src/overlay/** @ffriedl89 @thomaspink @tomheller
/libs/examples/src/pagination/** @lukasholzer
/libs/examples/src/progress-bar/** @tomheller
/libs/examples/src/progress-circle/** @ffriedl89 @tomheller
/libs/examples/src/radial-chart/** @tomheller
/libs/examples/src/radio/** @thomaspink
/libs/examples/src/secondary-nav/** @areknow @thomaspink
/libs/examples/src/select/** @thomaspink
/libs/examples/src/selection-area/** @ffriedl89 @lukasholzer
/libs/examples/src/show-more/** @rowa-audil
/libs/examples/src/stepper/** @ffriedl89 @thomaspink
/libs/examples/src/switch/** @thomaspink
/libs/examples/src/table/** @ffriedl89 @tomheller
/libs/examples/src/tabs/** @ffriedl89 @thomaspink
/libs/examples/src/tag/** @rowa-audil
/libs/examples/src/tile/** @ffriedl89 @NinaKammerlander
/libs/examples/src/timeline-chart/** @thomaspink
/libs/examples/src/toast/** @ffriedl89 @tomheller
/libs/examples/src/toggle-button-group/** @tomheller
/libs/examples/src/top-bar-navigation/** @lukasholzer
/libs/examples/src/tree-table/** @ffriedl89 @tomheller

# Tools
/tools/* @lukasholzer @thomaspink

/libs/tools/barista/* @thomaspink
/libs/tools/barista/src/** @NinaKammerlander @rowa-audil @thomaspink

/libs/tools/linting/* @thomaspink @lukasholzer
/libs/tools/linting/src/** @rowa-audil @heartdisease

/libs/tools/** @lukasholzer @ffriedl89 @thomaspink

/tools/schematics/** @lukasholzer

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink

/tools/pull-request-labeler/** @tomheller

/tools/cherry-picker/** @tomheller

barista: Add own barista builder that is pre-rendering all pages.
  .github/workflows/barista-preview.yml
  angular.json
  apps/barista-design-system/src/pages/single-page/single-page.ts
  apps/barista-design-system/src/shared/services/scroll-spy.service.ts
  apps/barista-design-system/src/shared/services/toc.service.ts
  apps/barista-design-system/src/utils/apply-table-definition-headings.ts
  libs/tools/barista/src/main.ts
  libs/workspace/README.md
  libs/workspace/builders.json
  libs/workspace/collection.json
  libs/workspace/jest.config.js
  libs/workspace/package.json
  libs/workspace/src/builders/barista-build/builder.spec.ts
  libs/workspace/src/builders/barista-build/builder.ts
  libs/workspace/src/builders/barista-build/prerender/render-routes.ts
  libs/workspace/src/builders/barista-build/schema.d.ts
  libs/workspace/src/builders/barista-build/schema.json
  libs/workspace/src/index.ts
  libs/workspace/src/test-setup.ts
  libs/workspace/tsconfig.json
  libs/workspace/tsconfig.lib.json
  libs/workspace/tsconfig.spec.json
  libs/workspace/tslint.json
  now-preview.json
  nx.json
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @NinaKammerlander, @rowa-audil

barista: Use images instead of inline svgs for icons.
  apps/barista-design-system/src/app/app.html
  apps/barista-design-system/src/app/components/footer/footer.html
  apps/barista-design-system/src/app/components/scroll-to-top/scroll-to-top.html
  apps/barista-design-system/src/app/components/scroll-to-top/scroll-to-top.scss
  apps/barista-design-system/src/assets/arrow-up-white.svg
  apps/barista-design-system/src/assets/behance-white.svg
  apps/barista-design-system/src/assets/dribbble-white.svg
  apps/barista-design-system/src/assets/favorite-white.svg
  apps/barista-design-system/src/assets/github-white.svg
  apps/barista-design-system/src/assets/incident-white.svg
  apps/barista-design-system/src/assets/laboratory-white.svg
  apps/barista-design-system/src/assets/list-view.svg
  apps/barista-design-system/src/assets/maintenance-royalblue.svg
  apps/barista-design-system/src/assets/tile-view.svg
  apps/barista-design-system/src/pages/overview-page/components/tile/tile.html
  apps/barista-design-system/src/pages/overview-page/components/tile/tile.scss
  apps/barista-design-system/src/pages/overview-page/overview-page.html
  apps/barista-design-system/src/pages/overview-page/overview-page.scss
  apps/barista-design-system/src/pages/single-page/components/icon-overview-content/icon-overview-content.ts
Owners: @NinaKammerlander, @thomaspink, @rowa-audil

barista: Add server side rendering and static pre-rendering of barista.
  .github/workflows/barista-preview.yml
  angular.json
  apps/barista-design-system/proxy.conf.json
  apps/barista-design-system/src/app/app.module.ts
  apps/barista-design-system/src/app/app.server.module.ts
  apps/barista-design-system/src/app/components/scroll-to-top/scroll-to-top.ts
  apps/barista-design-system/src/components/live-example/live-example.ts
  apps/barista-design-system/src/main.server.ts
  apps/barista-design-system/src/server.ts
  apps/barista-design-system/src/shared/services/scroll-spy.service.ts
  apps/barista-design-system/src/shared/services/universal.interceptor.ts
  apps/barista-design-system/tsconfig.json
  apps/barista-design-system/tsconfig.server.json
  environments/barista-environment.prod.ts
  environments/barista-environment.ts
  libs/tools/barista/src/main.ts
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @NinaKammerlander, @rowa-audil

ci: Add building of docker image on ci.
  .circleci/config.yml
  .dockerignore
  Dockerfile
  entrypoint.sh
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

barista: Fixes an issue where not all fills were removed from icon strings.
  libs/tools/barista/src/builder/icons.ts
Owners: @lukasholzer, @ffriedl89, @thomaspink

refactor(copy-to-clipboard): The Copy to clipboard component uses Angular's CopyToClipboardCDK API.
  libs/barista-components/copy-to-clipboard/src/copy-to-clipboard-module.ts
  libs/barista-components/copy-to-clipboard/src/copy-to-clipboard.html
  libs/barista-components/copy-to-clipboard/src/copy-to-clipboard.ts
Owners: @ffriedl89, @moertenschlag

ci: Add docker image for workspace builds.
  Dockerfile
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

browserslist update
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(copy-to-clipboard): Fixes an issue where copied text is undefined
  libs/barista-components/copy-to-clipboard/src/copy-to-clipboard.ts
Owners: @ffriedl89, @moertenschlag

barista: Simplify breadcrumbs creation.
  apps/barista-design-system/src/app/app.ts
Owners: @NinaKammerlander, @thomaspink, @rowa-audil

chore: Bump version to 6.1.0 w/ changelog
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(overlay): Fixes a long standing issue with overlays being squashed and positions being off when subelements of the trigger are hovered.
  libs/barista-components/overlay/src/mouse-follow-position-strategy.ts
  libs/barista-components/overlay/src/overlay-ref.ts
  libs/barista-components/overlay/src/overlay-trigger.ts
  libs/barista-components/overlay/src/overlay.ts
Owners: @ffriedl89, @thomaspink, @tomheller

ci(slack-release-notifier): Send automatic Slack notifications on release.
  .github/workflows/slack-release-notifier.yml
  tools/slack-release-notifier/.dockerignore
  tools/slack-release-notifier/.gitignore
  tools/slack-release-notifier/Dockerfile
  tools/slack-release-notifier/entrypoint.sh
  tools/slack-release-notifier/package-lock.json
  tools/slack-release-notifier/package.json
  tools/slack-release-notifier/src/main.ts
  tools/slack-release-notifier/src/utils/convert-to-mrkdwn.ts
  tools/slack-release-notifier/src/utils/fancify-text.ts
  tools/slack-release-notifier/src/utils/release-type.ts
  tools/slack-release-notifier/tsconfig.json
  tools/slack-release-notifier/tslint.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(expandable-text): Removes a default background on the trigger in Firefox.
  libs/barista-components/expandable-text/src/expandable-text.scss
Owners: @rowa-audil, @ffriedl89

barista: Add internal search to barista.
  angular.json
  apps/barista-design-system/src/app/app.module.ts
  apps/barista-design-system/src/app/components/nav/nav.html
  apps/barista-design-system/src/app/components/nav/nav.scss
  apps/barista-design-system/src/app/components/nav/nav.ts
  apps/barista-design-system/src/app/components/search/index.ts
  apps/barista-design-system/src/app/components/search/search.html
  apps/barista-design-system/src/app/components/search/search.scss
  apps/barista-design-system/src/app/components/search/search.ts
  apps/barista-design-system/src/environments/environment.internal.ts
  apps/barista-design-system/src/environments/environment.public.ts
  apps/barista-design-system/src/environments/environment.ts
  apps/barista-design-system/src/shared/services/search.service.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @NinaKammerlander, @rowa-audil

build(barista): Builds the internal version of the barista-design-system.
  .circleci/config.yml
  .deployment/barista/Jenkinsfile
  .deployment/barista/barista-internal.Dockerfile
  .deployment/barista/k8s-barista-builder.Dockerfile
  .deployment/barista/nginx/nginx.conf
  .deployment/barista/nginx/sites-available/barista-internal.conf
  .deployment/entrypoint.sh
  .deployment/workspace-base.Dockerfile
  .dockerignore
  angular.json
  entrypoint.sh
  environments/barista-environment.ci.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

ci: Increase the time for stale issues
  .github/workflows/stale.yml
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

chore: Bump version to 6.1.1 w/ changelog
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

feat(chart): Add animation for chart heatfield.
  apps/dev/src/chart/chart-demo.component.html
  libs/barista-components/chart/src/heatfield/chart-heatfield-config.ts
  libs/barista-components/chart/src/heatfield/chart-heatfield.html
  libs/barista-components/chart/src/heatfield/chart-heatfield.scss
  libs/barista-components/chart/src/heatfield/chart-heatfield.spec.ts
  libs/barista-components/chart/src/heatfield/chart-heatfield.ts
  libs/barista-components/core/src/animations/fade-animation.ts
  libs/barista-components/core/src/animations/index.ts
Owners: @ffriedl89, @lukasholzer, @thomaspink, @tomheller

build(barista): Change build target of barista to the server side rendering.
  .circleci/config.yml
  .github/workflows/barista-preview.yml
  angular.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

ci: Build and Publish docker image in a separate workflow.
  .circleci/config.yml
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

feat(overlay): Uses the fullscreenoverlaycontainer now to properly handle fullscreen mode.
  libs/barista-components/overlay/README.md
  libs/barista-components/overlay/src/overlay-module.ts
  libs/examples/src/overlay/index.ts
  libs/examples/src/overlay/overlay-examples.module.ts
  libs/examples/src/overlay/overlay-fullscreen-example/overlay-fullscreen-example.html
  libs/examples/src/overlay/overlay-fullscreen-example/overlay-fullscreen-example.scss
  libs/examples/src/overlay/overlay-fullscreen-example/overlay-fullscreen-example.ts
Owners: @ffriedl89, @thomaspink, @tomheller

barista: Fix recurson in production internal build target.
  angular.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

barista(search): Fixes an issue with search on overview pages.
  apps/barista-design-system/src/app/components/search/search.ts
  apps/barista-design-system/src/pages/overview-page/overview-page.ts
  apps/barista-design-system/src/shared/services/search.service.ts
Owners: @NinaKammerlander, @thomaspink, @rowa-audil

barista: Build barista with the internal configuration file.
  .deployment/barista/Jenkinsfile
  angular.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

docs(getting-started): Add a prototype section
  documentation/getting-started.md
Owners: @tomheller

ci: Build the k8s-barista-builder on the internal jenkins.
  .deployment/k8s-barista-builder/Dockerfile
  .deployment/k8s-barista-builder/Jenkinsfile
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

chore: Upgrades angular, tslint, ng-packagr, and everything connected
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(filter-field): Fixes an issue where the currentFilterChange event was not fired when a filter in progress was removed
  libs/barista-components/filter-field/src/filter-field.spec.ts
  libs/barista-components/filter-field/src/filter-field.ts
Owners: @thomaspink, @tomheller

fix(expandable-section, expandable-text, expandable-panel): Added aria-controls and aria-expanded.
  libs/barista-components/core/src/common-behaviours/id.spec.ts
  libs/barista-components/core/src/common-behaviours/id.ts
  libs/barista-components/expandable-panel/README.md
  libs/barista-components/expandable-panel/src/expandable-panel-trigger.ts
  libs/barista-components/expandable-panel/src/expandable-panel.spec.ts
  libs/barista-components/expandable-panel/src/expandable-panel.ts
  libs/barista-components/expandable-section/README.md
  libs/barista-components/expandable-section/src/expandable-section.html
  libs/barista-components/expandable-section/src/expandable-section.spec.ts
  libs/barista-components/expandable-section/src/expandable-section.ts
  libs/barista-components/expandable-text/README.md
  libs/barista-components/expandable-text/src/expandable-text.html
  libs/barista-components/expandable-text/src/expandable-text.spec.ts
  libs/barista-components/expandable-text/src/expandable-text.ts
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89, @rowa-audil

ci: Use string compare instead of the built in sha1sum compare.
  .deployment/entrypoint.sh
  .github/workflows/barista-preview.yml
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

ci(barista-preview): Update node_modules if the sha1sum does not match.
  .deployment/entrypoint.sh
  .github/workflows/barista-preview.yml
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(filter-field): Fixes an issue where two filterfield flaps were open at the same time.
  libs/barista-components/filter-field/src/filter-field.ts
Owners: @thomaspink, @tomheller

chore: Bump version to 6.2.0 w/ changelog
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

chore: Update generated examples files to include all expamples
  libs/examples/src/index.ts
Owners: @thomaspink

ci: Make action more chill
  .github/workflows/slack-barista-production-promotion.yml
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

barista: Fix sonar violation for link rel not containing noreferrer
  apps/barista-design-system/src/components/live-example/live-example.html
Owners: @NinaKammerlander, @thomaspink, @rowa-audil

barista(barista-tools): Fixes an issue in the route generation of the overview pages.
  libs/tools/barista/src/builder/homepage.ts
  libs/tools/barista/src/main.ts
Owners: @lukasholzer, @ffriedl89, @thomaspink

barista: Fixes an issue where the internal icon pack was not displayed in barista.
  .deployment/barista/Jenkinsfile
Owners: @thomaspink, @tomheller, @lukasholzer, @ffriedl89

fix(filter-field): Fixes a bug where the range overlay was not closed.
  apps/components-e2e/src/components/filter-field/filter-field.e2e.ts
  apps/components-e2e/src/components/filter-field/filter-field.po.ts
  libs/barista-components/filter-field/src/filter-field.ts
Owners: @thomaspink, @tomheller
